<div class="container-fluid secondDiv">
    <div>
        <h4><b>Trusted by 5M+ businesses</b></h4>
    </div>
    <div class="row">
        <div class="col-4 col-lg-2   imgMicro">
            <img src="Microsoft-Logo-2012-present.jpg">
        </div>
        <div class="col-lg-2 d-none d-lg-block imgAir">
            <img src="airbnb_horizontal_lockup_print.jpg">
        </div>
        <div class="col-4 col-lg-2 imgEg">
            <img src="eg.jpg">
        </div>
        <div class="col-lg-2 d-none d-lg-block  imgAuto">
            <img src="automattic-cmyk.jpg">
        </div>
        <div class="col-4 col-lg-2 imgBissel">
            <img src="bissel.png">
        </div>
        <div class="col-lg-2 d-none   d-lg-block">
            <img src="coty-inc.jpg">
        </div>


    </div>

</div>

<div class="container-fluid lastDiv">
    <div>
        <h4><b>More than 60k jobs are posted on Upwork every week</b></h4>
    </div>
    <div class="row" id="lastMiddleDiv">
        <div class="col-xl-4 col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="row">
                <div class="col-4">
                    <img class="imgLastDiv" src="job.png">
                </div>
                <div class="col-8">
                    <b>Find what you need</b> <br>Choose from specialized freelancers and agencies with 5,000+ skills.
                </div>
                <hr>
            </div>
        </div>
        <div class="col-xl-4 col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="row">
                <div class="col-4">
                    <img class="imgLastDiv" src="job.png">
                </div>
                <div class="col-8">
                    <b>Find what you need</b> <br>Choose from specialized freelancers and agencies with 5,000+ skills.
                </div>
                <hr>
            </div>
        </div>
        <div class="col-xl-4 col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="row">
                <div class="col-4">
                    <img class="imgLastDiv" src="job.png">
                </div>
                <div class="col-8">
                    <b>Find what you need</b> <br>Choose from specialized freelancers and agencies with 5,000+ skills.
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>