<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" style="padding: 10px 25px" href="#">Web Dev <span
                    class="sr-only">(current)</span></a>
            <a class="nav-link" style="padding: 10px 25px" href="#">Mobile Dev</a>
            <a class="nav-link" style="padding: 10px 25px" href="#">Design</a>
            <a class="nav-link" style="padding: 10px 25px" href="#">Writing</a>
            <a class="nav-link" style="padding: 10px 25px" href="#">Admin Support</a>
            <a class="nav-link" style="padding: 10px 25px" href="#">Customer Service</a>
            <a class="nav-link" style="padding: 10px 25px" href="#">Marketing</a>
            <a class="nav-link" style="padding: 10px 25px" href="#">Accounting</a>
            <a class="nav-link" style="padding: 10px 25px" href="#">See all Categories</a>
        </div>
    </div>
</nav>