<div id="firstDiv">
    <div class="container" id="blueForm">

        <div class="row">
            <div class="col-2 d-xl-block d-lg-none d-sm-none d-md-none d-none "></div>
            <div class="col-xl-8 col-12 col-sm-12 col-md-12" id="formDesign">
                <h2><b>Complete your free account setup</b></h2>

                <select class="dropdownbutton" id="mySelect" onchange="myFunction()">
                         <option value="Egypt">Egypt</option>
                         <option value="Algeria">Algeria</option>
                         <option value="Lebnanon">Lebnanon</option>
                         <option value="Angola">Angola</option>
                         <option value="Andorra">Andorra</option>

                    </select>

                <p class="paragraph"><b>I want to :</b></p>
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-white twiceButton"> Hire for a project</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-white twiceButton ">Work as a freelancer </button>

                    </div>


                </div>
                <div class="check">
                    <input type="checkbox"> Yes! Send me genuinely useful emails every now and then to help me get the most out of Upwork.
                </div>

                <div class="check2">
                    <input type="checkbox"> Yes, I understand and agree to the
                    <a class="aInDiv" href="#">Upwork Terms of Service</a> , including the
                    <a class="aInDiv" href="#">User Agreement</a> and
                    <a class="aInDiv" href="#">Privacy Policy</a>
                </div>
                <button id="CreateButton" type="button" class="btn btn-white btns"> 
                    <b>Create My Account </b></button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid secondDiv">
    <div>
        <h4><b>Trusted by 5M+ businesses</b></h4>
    </div>
    <div class="row">
        <div class="col-4 col-lg-2   imgMicro">
            <img src="./../../../assets/images/Microsoft-Logo-2012-present.jpg">
        </div>
        <div class="col-lg-2 d-none d-lg-block imgAir">
            <img src="./../../../assets/images/airbnb_horizontal_lockup_print.jpg">
        </div>
        <div class="col-4 col-lg-2 imgEg">
            <img src="./../../../assets/images/eg.jpg">
        </div>
        <div class="col-lg-2 d-none d-lg-block  imgAuto">
            <img src="./../../../assets/images/automattic-cmyk.jpg">
        </div>
        <div class="col-4 col-lg-2 imgBissel">
            <img src="./../../../assets/images/bissel.png">
        </div>
        <div class="col-lg-2 d-none   d-lg-block">
            <img src="./../../../assets/images/coty-inc.jpg">
        </div>


    </div>

</div>

<div class="container-fluid lastDiv">
    <div>
        <h4><b>More than 60k jobs are posted on Upwork every week</b></h4>
    </div>
    <div class="row" id="lastMiddleDiv">
        <div class="col-xl-4 col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="row">
                <div class="col-4">
                    <img class="imgLastDiv" src="./../../../assets/images/job.png">
                </div>
                <div class="col-8">
                    <b>Find what you need</b> <br>Choose from specialized freelancers and agencies with 5,000+ skills.
                </div>
                <hr>
            </div>
        </div>
        <div class="col-xl-4 col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="row">
                <div class="col-4">
                    <img class="imgLastDiv" src="./../../../assets/images/job.png">
                </div>
                <div class="col-8">
                    <b>Find what you need</b> <br>Choose from specialized freelancers and agencies with 5,000+ skills.
                </div>
                <hr>
            </div>
        </div>
        <div class="col-xl-4 col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="row">
                <div class="col-4">
                    <img class="imgLastDiv" src="./../../../assets/images/job.png">
                </div>
                <div class="col-8">
                    <b>Find what you need</b> <br>Choose from specialized freelancers and agencies with 5,000+ skills.
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("mySelect").value;
        document.getElementById("demo").innerHTML = "You selected: " + x;
    }
</script>